<h2><strong> About Us </strong> </h2>
            <br />
            <p> This is ProCart WebApp v1.0.0. is Developed by <br><br>
                <strong> Abhilesh Malik </strong> 
                under the guidance of  <strong> To The New </strong> </p>
            <br>
            <h3><strong>Technologies Used </strong></h3>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <h4>Front-End</h4>
                    <ul>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>    
